body {
  font-family: "Operator Mono A", "Operator Mono B", sans-serif;
  font-kerning: normal;
  font-size: 16px;
  margin: 0;
  padding: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
}

#root {
  background-image: linear-gradient(0deg, black, #292b3e);
  background-size: 100%;
  background-color: #292b2e;
  color: rgb(214, 216, 218);
  height: 100%;
  overflow: hidden;
  position: absolute;
  width: 100%;
}
